<div class="navbar bg-base-300">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost text-xl">Safe Notes</a>
  </div>
  <div *ngIf="user === undefined" class="flex-none">
    <a routerLink="/login">
      <button type="button" class="btn mr-1">Login</button>
    </a>
    <a routerLink="/register">
      <button type="button" class="btn ml-1">Register</button>
    </a>
  </div>
  <div *ngIf="user !== undefined" class="flex-none">
    <a routerLink="/addnote">
      <button type="button" class="btn mr-1">Add note</button>
    </a>
    <a routerLink="/mynotes">
      <button type="button" class="btn mr-1">My notes</button>
    </a>
    <a routerLink="/logs">
      <button type="button" class="btn mr-1">Check login attempts</button>
    </a>
    <a routerLink="/">
      <button type="button" (click)="logout()" class="btn ml-1">Logout</button>
    </a>
  </div>
</div>
