<div class="flex justify-center">
  <div class="card w-96 bg-base-100  shadow-xl">
    <div class="card-body">
      <h1 class="card-title justify-center">Add your note</h1>
      <form [formGroup]="myForm">
        <textarea id="content" name="content" formControlName="content" >

        </textarea>
        <div *ngIf="myForm.controls['content'].invalid && (myForm.controls['content'].dirty || myForm.controls['content'].touched)" class="text-red-600">
          <small *ngIf="myForm.controls['content'].errors?.['required']">Content is required. </small>
          <small *ngIf="myForm.controls['content'].errors?.['maxlength']">Content is too long. </small>
        </div>

      </form>
      <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Encrypt</span>
            <input type="checkbox" [(ngModel)]="this.model.encrypted" class="checkbox" />
          </label>
      </div>
      <form [formGroup]="myPasswordForm">
        <div *ngIf="model.encrypted" class="mt-2">
          <input class="my-input" id="passowrd" name="password" formControlName="password" type="password"/>
          <app-password-strength-bar [passwordEntropy]="passwordEntropy"></app-password-strength-bar>
          <div *ngIf="myPasswordForm.controls['password'].invalid && (myPasswordForm.controls['password'].dirty || myPasswordForm.controls['password'].touched)" class="text-red-600">
            <small *ngIf="myPasswordForm.controls['password'].errors?.['required']">Password is required.</small>
            <small *ngIf="myPasswordForm.controls['password'].errors?.['minlength']">The password is too short.</small>
            <small *ngIf="myPasswordForm.controls['password'].errors?.['maxlength']">The password is too long.</small>
          </div>
        </div>
      </form>
      <div class="mt-2">
        <div class="card-actions justify-end">
          <button type="submit" (click)="onFormSubmit()" class="btn btn-accent">Add</button>
        </div>
      </div>
      <div class="mt-2" *ngIf="errorMessage.length>0">
        <div role="alert" class="alert alert-error">
          <svg (click)="hideError()" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span>{{ errorMessage }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
