<br/>
<div class="flex justify-center">
  <div class="card w-96 bg-base-100  shadow-xl">
    <div class="card-body">
      <h1 class="card-title justify-center">Register</h1>
      <form>
        <div class="mt-2">
          <input type="text" placeholder="Type your e-mail">
        </div>
        <div class="mt-2">
          <input type="password" placeholder="Type your password">
        </div>
        <div class="mt-2">
          <input type="password" placeholder="Repeat your password">
        </div>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </form>
    </div>
  </div>
</div>
