.card {
  background-color: #D9D9D9;
}

input {
  height: 40px;
  color: black;
  border-radius: 20px;
  background-color: #EBEBEB;
  width: 100%;
  padding-left:15px;
  border-bottom: 2px solid #EF9FBC;
  resize: none;
}

.container {
  margin-left: -10px;
  width: 80%;
  text-align: center;

}

